{{ define "header" }}
      <div class="full-page-banner-image d-flex align-items-center" style="background-image: url('img/exe-b1.png');">
          <div class="container ">
            <div class="row align-items-center">
              <img style="max-width: 100%" src="img/exegetic-banner-white.svg">
              <div class="col-lg-12">
              </div>
            </div>
          </div>
      </div>
{{ end }}

{{ define "main" }}
    <section class="py-5 bg-dark text-light">
      <div class="container">
        <h1 class="text-center">Data Science on Demand</h1>
      </div>
    </section>
{{ partial "content-about.html" . }}
{{ partial "content-what.html" . }}
{{ partial "content-how.html" . }}
{{ partial "content-contact.html" . }}
{{ partial "content-clients.html" . }}
{{ partial "site-footer.html" . }}
{{ end }}