<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

  <body>
{{ partial "nav.html" . }}

    <header>
      <div class="full-page-banner-image d-flex align-items-center" style="background-image: url('img/seed_8554b.png');">
          <div class="container ">
            <div class="row align-items-center">
              <img style="max-width: 100%" src="img/logo-exegetic-white.svg">
              <div class="col-lg-12">
              </div>
            </div>
          </div>
      </div>
    </header>

    <section class="py-5 bg-dark text-light">
      <div class="container">
        <h1 class="text-center">Data Science on Demand</h1>
      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>

{{ partial "content-what.html" . }}

{{ partial "content-how.html" . }}

{{ partial "content-clients.html" . }}

{{ partial "content-contact.html" . }}

{{ partial "footer.html" . }}
  </body>
</html>
