{{ define "main" }}
  <section class="section">
    <div class="container">
      <!-- Pick up content from the category _index.md. -->
      <h1>{{.Title}}</h1>
      <article>
      {{.Content}}
      </article>

      {{ range .Pages.GroupByParam "weight" }}
      {{ range .Pages.ByTitle }}
      <div class="row">
        <article>
          <h2><a href="{{.Permalink}}">{{ .Title }}</a></h2>

          {{ if .Params.twitter }}
          <p><i class="fab fa-twitter fa-lg"></i> <a href="https://twitter.com/{{ .Params.twitter }}">@{{ .Params.twitter }}</a></p>
          {{ end }}

          {{ range .Params.biography }}
          <p>{{ . | markdownify }}</p>
          {{ end }}
        </article>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
