/* BOOTSTRAP ----------------------------------------------------------------------------------- */

.container {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}

/* --------------------------------------------------------------------------------------------- */

body > nav > div > a > img {
    height: 30px;
    max-width: 250px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 0px;
    margin-right: 0px;
}



.full-page-banner-image {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.h1, h1 {
	font-size: 5rem;
}
.h2, h2 {
}

h3 {
	text-align: center;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.contact {
}
.contact h2 {
	/*color: #fff;*/
	text-align: left;
}
.contact p {
	/*color: #fff;*/
	font-size: 18px;
}

a .card-header {
	color: black;
}
a .card-header i {
	color: green;
}
a .collapsed {
	color: red;
}

.column {
  float: left;
  width: 24%;
  padding: 10px;
  margin-left: 1%;
  margin-top: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
}

