.full-page-banner-image {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.h1, h1 {
	font-size: 5rem;
}
.h2, h2 {
}

h3 {
	text-align: center;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.contact {
}
.contact h2 {
	/*color: #fff;*/
	text-align: left;
}
.contact p {
	/*color: #fff;*/
	font-size: 18px;
}

a {
	color: #0056b3 !important;
}
a:hover {
	color: #006E4D !important;
}

a .card-header {
	color: black;
}
a .card-header i {
	color: green;
}
a .collapsed {
	color: red;
}

.column {
  float: left;
  width: 24%;
  padding: 10px;
  margin-left: 1%;
  margin-top: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
}

