{{ with .Site.Params.what }}
<section class="section" id="tools">
  <div class="container-flex">

      <div class="col-md-4">
        <div>
          <div>
              <img class="icon" src="https://via.placeholder.com/155">
              <h3>Open Source</h3>
              <hr>
          </div>
          <p>We're passionate about working with Open Source tools. This means that the costs of expensive proprietary software are not being passed on to you.</p>
          <p>With our consulting services, training courses and community support, we continuously encourage the adoption of Open Source tools for Data Science in corporations, academies and institutions.</p>
        </div>
      </div>

    </div>
  </div>
</section>
{{ end }}