    {{ with .Site.Params.how }}
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
          {{- with .image }}
            <img src="{{ .path }}" alt="{{ .alt }}">
          {{- end }}
          </div>
          <div class="col-md-6">
            <div class="content mt-100">
              <h2 class="subheading">How We Do It</h2>
              <h3>Automation</h3>

              <p>It doesn't make sense for your skilled employees to spend so much time doing mundane, repetitive tasks.</p>

              <p>We believe in robust automated systems which will quietly and reliably perform these tasks, liberating your employees to concentrate on the dynamic components of your business.</p>


              <h3>Rapid Prototyping</h3>

              <p>We achieve rapid time-to-value, assembling a Proof of Concept or draft analysis within days of data exchange.</p>

              <p>We then iterate quickly, focusing on the most pertinent aspects of the analysis. This allows us to transform experiments and prototypes into robust and reliable data solutions.</p>

              <p>And you have control over the process every step of the way.</p>

              <h3>Cloud</h3>

              <p>Maintaining your own hardware is expensive and time consuming.</p>

              <p>We believe in shifting storage and processing onto the cloud. In doing so you'll reap these benefits:</p>

              <ul>
                <li> flexibility (scales with your needs);
                <li> avoid capital and maintenance costs;
                <li> automated backup and recovery; and
                <li> automated software updates.
              </ul>

              <h3>Open Source</h3>

              <p>We're passionate about working with Open Source tools. This means that the costs of expensive proprietary software are not being passed on to you.</p>

              <p>With our consulting services, training courses and community support, we continuously encourage the adoption of Open Source tools for Data Science in corporations, academies and institutions.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}