    {{ with .Site.Params.what }}
    <section class="bg-secondary section">
      <div class="container">
<!--         <div class="row">
          <div class="col-md-3 text-center"> -->
<!--           {{- with .image }}
            <img src="{{ .path }}" alt="{{ .alt }}">
          {{- end }} -->
            <h2 class="subheading">What We Do</h2>

            <div class="row">
              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/on-demand.svg">
                <h3>On Demand</h3>
              </div>

              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/analytics.svg">
                <h3>Analytics</h3>
              </div>

              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/products.svg">
                <h3>Products</h3>
              </div>

              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/data1.svg">
                <h3>Data</h3>
              </div>
            </div>

            <div class="row">
              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/api-and-scraping.svg">
                <h3>API & Scraping</h3>
              </div>

              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/communication1.svg">
                <h3>Communication</h3>
              </div>

              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/training1.svg">
                <h3>Training</h3>
              </div>

              <div class="column">
                <img class="icon" style="max-width: 80%" src="img/icon/demand-forecasting.svg">
                <h3>Forecasting</h3>
              </div>
            </div>

          </div>
          <div class="col-md-9">
            <div class="content mt-100">
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}