    {{ with .Site.Params.contact }}
    <section class="bg-secondary section contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <h2 class="subheading">Contact</h2>
          {{- with .image }}
            <img src="{{ .path }}" alt="{{ .alt }}">
          {{- end }}
          </div>
          <div class="col-md-6">
            <div class="content mt-100">
              <form method="POST" action="//formspree.io/info@exegetic.biz">
                <input type="hidden" name="_subject" value="Contacting Exegetic" />
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="What should we call you?">
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Where can we reach you?">
                  <small id="emailHelp" class="form-text">We won't share your email address with anyone.</small>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Message</label>
                  <textarea class="form-control" name="message" id="message" rows="4" placeholder="How can we help you?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
