	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ .Site.Params.description }}" />
		<meta name="author" content="">
		<link rel="canonical" href="{{ .Site.BaseURL }}" />

		<title>{{ .Site.Title }}</title>

		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<!-- Facebook sharing -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ .Site.BaseURL }}" />
		<meta property="og:title" content="{{ .Site.Title }}" />
		<!-- <meta property="og:image" content="https://example.com/image.jpg" /> -->
		<meta property="og:description" content="{{ .Site.Params.description }}" />
		<meta property="og:site_name" content="{{ .Site.Params.site_name }}" />
		<meta property="og:locale" content="pt_BR" />

		<!-- Twitter sharing -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@site_account" />
		<meta name="twitter:creator" content="@individual_account" />
		<meta name="twitter:url" content="{{ .Site.BaseURL }}" />
		<meta name="twitter:title" content="{{ .Site.Title }}" />
		<meta name="twitter:description" content="{{ .Site.Params.description }}" />
		<!-- <meta name="twitter:image" content="https://example.com/image.jpg" /> -->
		<meta name="twitter:image" content="img/logo-exegetic-white.svg" />

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">

		<link rel="preload" href="css/style.css" as="style" onload="this.rel='stylesheet'">
		<noscript>
			<link rel="stylesheet" href="css/style.css">
		</noscript>
	</head>