{{ define "main" }}
  <section class="section">
    <div class="container">
      <h1>{{.Title}}</h1>

      {{/*
      <aside id="meta">
        <div class="row">
          <div class="col-md-2">
            {{.Date.Format "2006-01-02"}}
          </div>
          <div class="col-md-2">
            {{ .Params.author }}
          </div>
          <div class="col-md-6" id="tags">
            {{ with .Params.tags }}
            Tags: {{ range . }}<a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>&nbsp;{{ end }}
            {{ end }}
          </div>
        </div>
      </aside>
      */}}

      <article>
      {{.Content}}
      </article>

      <div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
        class="twitter-share-button"
        data-size="large" 
        data-via="exegeticdata" 
        data-text="{{ .Params.title }}"
        data-hashtags="{{ delimit .Params.tags "," }}"
        data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <aside>
        <div class="row">
          <div class="col-md-6">
            {{ with .PrevInSection }}
            Previous: <a class="previous" href="{{.Permalink}}">{{.Title}}</a>
            {{ end }}
          </div>
          <div class="col-md-6">
            {{ with .NextInSection }}
            Next: <a class="next" href="{{.Permalink}}">{{.Title}}</a>
            {{ end }}
          </div>
        </div>
      </aside>
      
    </div>
  </section>
{{ end }}
