{{ define "main" }}
  <section class="section">
    <div class="container">
      <!-- Pick up content from the category _index.md. -->
      <h1>{{.Title}}</h1>
      <article>
      {{.Content}}
      </article>

      {{ range $name, $taxonomy := .Site.Taxonomies.subjects }}
      <h3 style="text-transform: capitalize" id="{{ $name | urlize }}">{{ replace $name "-" " " }}</h3>
      <ul>
      {{ range $taxonomy }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      {{ end }}
    </div>
  </section>
{{ end }}
