{{ define "main" }}
  <section class="section subject">
    <div class="container">
      <h1>{{.Title}}</h1>

      <article>
      <p><a href="/#contact">Contact us</a> to book <em>{{.Title}}</em> training.</p>

      {{.Content}}

      Return to our <a href="/training/">list</a> of courses.
      </article>

      <div class="boilerplate">
        <h2>Training Philosophy</h2>

        <p>Our training emphasises practical skills. So, although you'll be learning concepts and theory, you'll see how everything is applied in the real world. We will work through examples and exercises based on real datasets.</p>

        <h2>Requirements</h2>

        <p>All you'll need is a computer with a browser and a decent internet connection. We'll be using an online development environment. This means that you can focus on learning and not on solving technical problems.</p>

        <!-- <p>Of course, we are happy to help you get your local environment set up too! You can start by following <a href="/blog/setup-general/">these instructions</a>. -->

        <h2>Package</h2>

        The training package includes access to
        <ul>
          <li> our online development environment and</li>
          <li> detailed course material (slides and scripts).</li>
        </ul>

        <!--
          Pricing: https://getbootstrap.com/docs/4.0/examples/pricing/
        -->
      </div>

      <p><a href="/#contact">Contact us</a> to book <em>{{.Title}}</em> training.</p>

      <div class="jumbotron">
        <h1 class="display-3">Remote Training Available</h1>
        <p class="lead">We can provide remote training online, tailored to your specific needs.</p>
        <hr class="my-4">
        <!-- <p>Contact us to find out more about remote training.</p> -->
        <!-- <p class="lead"> -->
        <a class="btn btn-primary btn-lg" href="mailto:training@exegetic.biz?subject=Training Enquiry" role="button">Learn more</a>
        <!-- </p> -->
      </div>
    </div>
  </section>
{{ end }}
