{{ define "main" }}
{{ if hasPrefix .URL "/tags/" }}
<section class="section" id="main">
    <div class="container">
		<h1>Tag: {{ .Title }}</h1>
		<p><a href="{{ .Permalink }}index.xml">View RSS feed. <i class="fas fa-rss"></i></a></p>
		<div class="row">
			<div class="col-md-8">
				<p>Posts in this taxonomy:</p>		
			    <ul>
			    {{ range .Data.Pages }}
			      <li>
			        {{ .Date.Format "2006-01-02" }} - <a href="{{ .Permalink }}">{{ .Title }}</a>
			      </li>
			    {{ end }}
			    </ul>
			</div>
			<div class="col-md-4">
				<p>Other tags:</p>
				<ul>
				{{ range $.Site.Taxonomies.tags.Alphabetical }}
				{{ if gt .Count 0 }}
				  <li>
				    <a href="/tags/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
				  </li>
				{{ end }}
				{{end}}
				</ul>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}