{{ define "main" }}
  <section class="section subject">
    <div class="container">
      <h1>{{.Title}}</h1>

      <article>
      {{.Content}}

      <h3>Requirements</h3>

      {{ if .Params.requirements_technical }}
      <em>Technical</em>

      <ul>
      {{ range .Params.requirements_technical }}
        <li> {{ . }}</li>
      {{ end }}
      </ul>
      {{ end }}

      <em>Other</em>

      <ul>
      {{ range .Params.requirements_other }}
        <li> {{ . }}</li>
      {{ end }}
        <li> Works well in a remote team</li>
      </ul>

      <p class="font-italic">Non-essential but nice to have requirements are indicated by a *.</p>

      <h3>Responsibilities</h3>

      <ul>
      {{ range .Params.responsibilities }}
        <li> {{ . }}</li>
      {{ end }}
      </ul>

      <h2>Working with Exegetic</h2>

      <p>As a <em>{{ .Title }}</em> at Exegetic you'll be part of a diverse, multidisciplinary team. We each contribute unique skills, talents and perspectives. We’re self-motivated, adaptive and agile. We love what we do and take immense pride in the products and services we deliver.</p>
      <p>Expect to be challenged, no matter your level of mastery. We are constantly learning, understanding, building and solving. This is driven by the needs of our clients as well as our own interests and aspirations.</p>
      <p>The team is distributed across the country. Sometimes we work on site at a client, but most often we work remotely. This allows us to avoid the commute and enjoy the benefits of relatively flexible working hours! At the same time, we cultivate a strong team atmosphere through daily communication, sharing, mentorship and support. Get on board!</p>        

      <h2>How to Apply</h2>

      <p>Send your CV and cover letter to <a href="mailto:careers@exegetic.biz?subject={{ .Title }} [Job Application]">careers@exegetic.biz</a>.</p>
      </article>
    </div>
  </section>
{{ end }}
