{{ define "main" }}
  <section class="section subject">
    <div class="container">
      <h1>{{.Title}}</h1>

      <article>
      {{.Content}}

      <h3>Requirements</h3>

      {{ if .Params.requirements_technical }}
      <em>Technical</em>

      <ul>
      {{ range .Params.requirements_technical }}
        <li> {{ . }}</li>
      {{ end }}
      </ul>
      {{ end }}

      <em>Other</em>

      <ul>
      {{ range .Params.requirements_other }}
        <li> {{ . }}</li>
      {{ end }}
        <li> Works well in a remote team</li>
      </ul>

      <p class="font-italic">Non-essential but nice to have requirements are indicated by a *.</p>

      <h3>Responsibilities</h3>

      <ul>
      {{ range .Params.responsibilities }}
        <li> {{ . }}</li>
      {{ end }}
      </ul>

      <h2>How to Apply</h2>

      <p>Send your CV and cover letter to <a href="mailto:careers@exegetic.biz?subject={{ .Title }} [Job Application]">careers@exegetic.biz</a>.</p>
      </article>
    </div>
  </section>
{{ end }}
