{{ define "main" }}
  <section class="section subject">
    <div class="container">
      <h1>{{.Title}}</h1>

      <article>
      {{.Content}}

      <h3>Requirements</h3>

      {{ if .Params.requirements_technical }}
      <em>Technical</em>

      <ul>
      {{ range .Params.requirements_technical }}
        <li> {{ . }}</li>
      {{ end }}
      </ul>
      {{ end }}

      <em>Other</em>

      <ul>
      {{ range .Params.requirements_other }}
        <li> {{ . }}</li>
      {{ end }}
        <li> Works well in a remote team</li>
      </ul>

      <p class="font-italic">Non-essential but nice to have requirements are indicated by a *.</p>

      <h3>Responsibilities</h3>

      <ul>
      {{ range .Params.responsibilities }}
        <li> {{ . }}</li>
      {{ end }}
      </ul>

      <h2>Working with Exegetic</h2>

      As a <em>{{ .Title }}</em> at Exegetic you'll be part of a compact and dynamic team. Sometimes you'll be working on site at a client, but most often you'll be working remotely. Working hours are relatively flexible. We try to be <a href="https://en.wikipedia.org/wiki/Agile_software_development">agile</a> but in an informal way. Learning and new ideas are encouraged. You'll be challenged by a diverse range of projects for an equally varied list of clients.

      <h2>How to Apply</h2>

      <p>Send your CV and cover letter to <a href="mailto:careers@exegetic.biz?subject={{ .Title }} [Job Application]">careers@exegetic.biz</a>.</p>
      </article>
    </div>
  </section>
{{ end }}
